<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">财务支出id：</label>
								<div class="col-sm-8">
									<input id="expendId" name="expendId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">财务收入id：</label>
								<div class="col-sm-8">
									<input id="incomeId" name="incomeId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">支出类型 income,expend：</label>
								<div class="col-sm-8">
									<input id="acountType" name="acountType" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">支出金额：</label>
								<div class="col-sm-8">
									<input id="totalExpend" name="totalExpend" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收入金额：</label>
								<div class="col-sm-8">
									<input id="totalIncome" name="totalIncome" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">当前总金额：</label>
								<div class="col-sm-8">
									<input id="totalAcount" name="totalAcount" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">前一期账户金额：</label>
								<div class="col-sm-8">
									<input id="oldAcount" name="oldAcount" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人：</label>
								<div class="col-sm-8">
									<input id="createUser" name="createUser" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新人：</label>
								<div class="col-sm-8">
									<input id="updateUser" name="updateUser" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/finance/financialAcount/add.js">
	</script>
</body>
</html>
