<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.blog.dao.BContentDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bootdo.blog.entity.BContentEntity" id="bContentMap">
        <result property="cid" column="cid"/>
        <result property="title" column="title"/>
        <result property="slug" column="slug"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
        <result property="content" column="content"/>
        <result property="type" column="type"/>
        <result property="tags" column="tags"/>
        <result property="categories" column="categories"/>
        <result property="hits" column="hits"/>
        <result property="commentsNum" column="comments_num"/>
        <result property="allowComment" column="allow_comment"/>
        <result property="allowPing" column="allow_ping"/>
        <result property="allowFeed" column="allow_feed"/>
        <result property="status" column="status"/>
        <result property="author" column="author"/>
    </resultMap>

	<select id="queryObject" resultType="com.bootdo.blog.entity.BContentEntity">
		select * from b_content where cid = #{value}
	</select>

	<select id="queryList" resultType="com.bootdo.blog.entity.BContentEntity">
		select * from b_content
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by cid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from b_content 
	</select>
	 
	<insert id="save" parameterType="com.bootdo.blog.entity.BContentEntity" useGeneratedKeys="true" keyProperty="cid">
		insert into b_content
		(
			`title`, 
			`slug`, 
			`created`, 
			`modified`, 
			`content`, 
			`type`, 
			`tags`, 
			`categories`, 
			`hits`, 
			`comments_num`, 
			`allow_comment`, 
			`allow_ping`, 
			`allow_feed`, 
			`status`, 
			`author`
		)
		values
		(
			#{title}, 
			#{slug}, 
			#{created}, 
			#{modified}, 
			#{content}, 
			#{type}, 
			#{tags}, 
			#{categories}, 
			#{hits}, 
			#{commentsNum}, 
			#{allowComment}, 
			#{allowPing}, 
			#{allowFeed}, 
			#{status}, 
			#{author}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.blog.entity.BContentEntity">
		update b_content 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="slug != null">`slug` = #{slug}, </if>
			<if test="created != null">`created` = #{created}, </if>
			<if test="modified != null">`modified` = #{modified}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="tags != null">`tags` = #{tags}, </if>
			<if test="categories != null">`categories` = #{categories}, </if>
			<if test="hits != null">`hits` = #{hits}, </if>
			<if test="commentsNum != null">`comments_num` = #{commentsNum}, </if>
			<if test="allowComment != null">`allow_comment` = #{allowComment}, </if>
			<if test="allowPing != null">`allow_ping` = #{allowPing}, </if>
			<if test="allowFeed != null">`allow_feed` = #{allowFeed}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="author != null">`author` = #{author}</if>
		</set>
		where cid = #{cid}
	</update>
	
	<delete id="delete">
		delete from b_content where cid = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from b_content where cid in 
		<foreach item="cid" collection="array" open="(" separator="," close=")">
			#{cid}
		</foreach>
	</delete>

</mapper>