<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.blog.dao.SysRoleDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bootdo.blog.entity.SysRoleEntity" id="sysRoleMap">
        <result property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleSign" column="role_sign"/>
        <result property="remark" column="remark"/>
        <result property="userIdCreate" column="user_id_create"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

	<select id="queryObject" resultType="com.bootdo.blog.entity.SysRoleEntity">
		select * from sys_role where role_id = #{value}
	</select>

	<select id="queryList" resultType="com.bootdo.blog.entity.SysRoleEntity">
		select * from sys_role
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by role_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from sys_role 
	</select>
	 
	<insert id="save" parameterType="com.bootdo.blog.entity.SysRoleEntity" useGeneratedKeys="true" keyProperty="roleId">
		insert into sys_role
		(
			`role_name`, 
			`role_sign`, 
			`remark`, 
			`user_id_create`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{roleName}, 
			#{roleSign}, 
			#{remark}, 
			#{userIdCreate}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.blog.entity.SysRoleEntity">
		update sys_role 
		<set>
			<if test="roleName != null">`role_name` = #{roleName}, </if>
			<if test="roleSign != null">`role_sign` = #{roleSign}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="userIdCreate != null">`user_id_create` = #{userIdCreate}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where role_id = #{roleId}
	</update>
	
	<delete id="delete">
		delete from sys_role where role_id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from sys_role where role_id in 
		<foreach item="roleId" collection="array" open="(" separator="," close=")">
			#{roleId}
		</foreach>
	</delete>

</mapper>